<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5
		IjoidG9jcm9wdmlld2NvbnRyb2xsZXIiLCJsb2NhdGlvbiI6eyJyZW1vdGUi
		OlsiaHR0cHM6XC9cL2dpdGh1Yi5jb21cL1RpbU9saXZlclwvVE9Dcm9wVmll
		d0NvbnRyb2xsZXIiXX0sInByb2R1Y3RGaWx0ZXIiOm51bGwsInJlcXVpcmVt
		ZW50Ijp7InJhbmdlIjpbeyJsb3dlckJvdW5kIjoiMi42LjEiLCJ1cHBlckJv
		dW5kIjoiMy4wLjAifV19fV19LHsic291cmNlQ29udHJvbCI6W3siaWRlbnRp
		dHkiOiJzaHVmZmxlaXQjc2h1ZmZsZWRlY2siLCJsb2NhdGlvbiI6eyJyZW1v
		dGUiOlsiaHR0cHM6XC9cL2dpdGh1Yi5jb21cL2RzY3lyZXNjb3R0aVwvU2h1
		ZmZsZUl0I3NodWZmbGVkZWNrIl19LCJwcm9kdWN0RmlsdGVyIjpudWxsLCJy
		ZXF1aXJlbWVudCI6eyJicmFuY2giOlsibWFpbiJdfX1dfV0sImRpc3BsYXlO
		YW1lIjoiQ2FsZW5kYXJpemUiLCJwYWNrYWdlS2luZCI6eyJyb290Ijp7fX0s
		InBsYXRmb3JtcyI6W3sib3B0aW9ucyI6W10sInBsYXRmb3JtTmFtZSI6Imlv
		cyIsInZlcnNpb24iOiIxNi4wIn1dLCJwcm9kdWN0cyI6W3sibmFtZSI6IkNh
		bGVuZGFyaXplIiwic2V0dGluZ3MiOlt7InRlYW1JZGVudGlmaWVyIjpbIjNH
		S1JETUY1N1giXX0seyJkaXNwbGF5VmVyc2lvbiI6WyIxLjAiXX0seyJidW5k
		bGVWZXJzaW9uIjpbIjEiXX0seyJpT1NBcHBJbmZvIjpbeyJhY2NlbnRDb2xv
		ciI6eyJwcmVzZXRDb2xvciI6eyJwcmVzZXRDb2xvciI6eyJyYXdWYWx1ZSI6
		InllbGxvdyJ9fX0sImFwcEljb24iOnsicGxhY2Vob2xkZXIiOnsiaWNvbiI6
		eyJyYXdWYWx1ZSI6Im1hZ2ljV2FuZCJ9fX0sImNhcGFiaWxpdGllcyI6W3si
		cHVycG9zZSI6ImNhbWVyYSIsInB1cnBvc2VTdHJpbmciOiJQbGVhc2UgYWxs
		b3cgYWNjZXNzIHRvIGNhbWVyYS4ifSx7InB1cnBvc2UiOiJwaG90b0xpYnJh
		cnkiLCJwdXJwb3NlU3RyaW5nIjoiUGxlYXNlIGFsbG93IGFjY2VzcyB0byBw
		aG90byBsaWJyYXJ5LiJ9XSwic3VwcG9ydGVkRGV2aWNlRmFtaWxpZXMiOlsi
		cGFkIiwicGhvbmUiXSwic3VwcG9ydGVkSW50ZXJmYWNlT3JpZW50YXRpb25z
		IjpbeyJwb3J0cmFpdCI6e319LHsibGFuZHNjYXBlUmlnaHQiOnt9fSx7Imxh
		bmRzY2FwZUxlZnQiOnt9fSx7InBvcnRyYWl0VXBzaWRlRG93biI6eyJjb25k
		aXRpb24iOnsiZGV2aWNlRmFtaWxpZXMiOlsicGFkIl19fX1dfV19XSwidGFy
		Z2V0cyI6WyJBcHBNb2R1bGUiXSwidHlwZSI6eyJleGVjdXRhYmxlIjpudWxs
		fX1dLCJ0YXJnZXRNYXAiOnsiQXBwTW9kdWxlIjp7ImRlcGVuZGVuY2llcyI6
		W3sicHJvZHVjdCI6WyJDcm9wVmlld0NvbnRyb2xsZXIiLCJUT0Nyb3BWaWV3
		Q29udHJvbGxlciIsbnVsbCxudWxsXX0seyJwcm9kdWN0IjpbIlNodWZmbGVE
		ZWNrIiwic2h1ZmZsZWl0I3NodWZmbGVkZWNrIixudWxsLG51bGxdfSx7InBy
		b2R1Y3QiOlsiRkxBbmltYXRlZEltYWdlIiwiZmxhbmltYXRlZGltYWdlIixu
		dWxsLG51bGxdfV0sImV4Y2x1ZGUiOltdLCJuYW1lIjoiQXBwTW9kdWxlIiwi
		cGF0aCI6Ii4iLCJyZXNvdXJjZXMiOlt7InBhdGgiOiJSZXNvdXJjZXMiLCJy
		dWxlIjp7InByb2Nlc3MiOnt9fX1dLCJzZXR0aW5ncyI6W3sia2luZCI6eyJl
		bmFibGVVcGNvbWluZ0ZlYXR1cmUiOnsiXzAiOiJCYXJlU2xhc2hSZWdleExp
		dGVyYWxzIn19LCJ0b29sIjoic3dpZnQifV0sInR5cGUiOiJleGVjdXRhYmxl
		In19LCJ0YXJnZXRzIjpbeyJkZXBlbmRlbmNpZXMiOlt7InByb2R1Y3QiOlsi
		Q3JvcFZpZXdDb250cm9sbGVyIiwiVE9Dcm9wVmlld0NvbnRyb2xsZXIiLG51
		bGwsbnVsbF19LHsicHJvZHVjdCI6WyJTaHVmZmxlRGVjayIsInNodWZmbGVp
		dCNzaHVmZmxlZGVjayIsbnVsbCxudWxsXX0seyJwcm9kdWN0IjpbIkZMQW5p
		bWF0ZWRJbWFnZSIsImZsYW5pbWF0ZWRpbWFnZSIsbnVsbCxudWxsXX1dLCJl
		eGNsdWRlIjpbXSwibmFtZSI6IkFwcE1vZHVsZSIsInBhdGgiOiIuIiwicmVz
		b3VyY2VzIjpbeyJwYXRoIjoiUmVzb3VyY2VzIiwicnVsZSI6eyJwcm9jZXNz
		Ijp7fX19XSwic2V0dGluZ3MiOlt7ImtpbmQiOnsiZW5hYmxlVXBjb21pbmdG
		ZWF0dXJlIjp7Il8wIjoiQmFyZVNsYXNoUmVnZXhMaXRlcmFscyJ9fSwidG9v
		bCI6InN3aWZ0In1dLCJ0eXBlIjoiZXhlY3V0YWJsZSJ9XSwidG9vbHNWZXJz
		aW9uIjp7Il92ZXJzaW9uIjoiNS44LjAifX0=
		</data>
		<key>manifestHash</key>
		<data>
		UAcWtNoO2JxhTKXXIBBoZqxBdR1iUxfCtJDr7CiPT+8=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.8.0</string>
	</dict>
</dict>
</plist>
